
body{
    padding-top: 50px;
    background: #d99c34;
    
    
}
#d99c34
h1{
    font-family: 'Raleway', sans-serif;
}

a{
	font-family: 'Raleway', sans-serif;
}
.navbar{
	background: #754d19;
}

.nav-link , .navbar-brand{
	color: #f4f4f4;
	cursor: pointer;
    
}
.nav-link{
	margin-right: 1em !important;
  
}

.nav-link-active{
    background: #D6D4D4;
	color: #f97300;
    
}

.nav-link:hover{
	background: #D6D4D4;
	color: #f97300;
}

.navimg{
    width:40px;
}

.navbar-toggler{
    position: absolute !important;
    right: 10px !important;
}

.navbar-collapse{
 justify-content: flex-end;
}

p {
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}

h1{
    font-family: 'Noto Serif JP', serif;
}
    

.img{
    width: 100%;
    height: 80%;
}

.portImg {
    width: 100%;
    height: 70%;
}

#contactImg{
    width:100%;
    height:60%;
}

.logo{
    width: 15%;
    
}

